@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align:center;" class="row">
    <div class="col-sm-4 border">
        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="https://picjumbo.com/wp-content/uploads/strawberry-caffe-mocha-with-latte-art-2210x1657.jpg" class="img-fluid rounded" alt="Responsive image"></a>
        <p class="text-dark">文章列表</p>
    </div>
    <div class="col-sm-4 border">
        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="https://picjumbo.com/wp-content/uploads/strawberry-caffe-mocha-with-latte-art-2210x1657.jpg" class="img-fluid rounded" alt="Responsive image"></a>
        <p class="text-dark">個人資料</p>
    </div>
    <div class="col-sm-4 border">
        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="https://picjumbo.com/wp-content/uploads/strawberry-caffe-mocha-with-latte-art-2210x1657.jpg" class="img-fluid rounded" alt="Responsive image"></a>
        <p class="text-dark">我的收藏</p>
    </div>
    <div class="col-sm-6 border">
        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="https://picjumbo.com/wp-content/uploads/strawberry-caffe-mocha-with-latte-art-2210x1657.jpg" class="img-fluid rounded" alt="Responsive image"></a>
        <p class="text-dark">熱門列表</p>
    </div>
    <div class="col-sm-6 border">
        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="https://picjumbo.com/wp-content/uploads/strawberry-caffe-mocha-with-latte-art-2210x1657.jpg" class="img-fluid rounded" alt="Responsive image"></a>
        <p class="text-dark">聯絡我們</p>
    </div>

</div>
