@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align:center;" class="row">
    <div class="col-sm-4">
        <a href="#"><img src="https://picjumbo.com/wp-content/uploads/strawberry-caffe-mocha-with-latte-art-2210x1657.jpg" class="img-fluid rounded" alt="Responsive image"></a>
        <a href="#" style="text-decoration:none;">文章列表</a>
    </div>
    <div class="col-sm-4">
        <a href="#">
            <img src="https://picjumbo.com/wp-content/uploads/strawberry-caffe-mocha-with-latte-art-2210x1657.jpg" class="img-fluid rounded" alt="Responsive image"></ahref="#">
            <a href="#" style="text-decoration:none;">個人資料</a>
    </div>
    <div class="col-sm-4">
        <a href="#"><img src="https://picjumbo.com/wp-content/uploads/strawberry-caffe-mocha-with-latte-art-2210x1657.jpg" class="img-fluid rounded" alt="Responsive image"></a>
        <a href="#" style="text-decoration:none;">我的收藏</a>
    </div>
    <div class="col-sm-6">
        <a href="#"><img src="https://picjumbo.com/wp-content/uploads/strawberry-caffe-mocha-with-latte-art-2210x1657.jpg" class="img-fluid rounded" alt="Responsive image"></a>
        <a href="#" style="text-decoration:none;">熱門列表</a>
    </div>
    <div class="col-sm-6">
        <a href="#"><img src="https://picjumbo.com/wp-content/uploads/strawberry-caffe-mocha-with-latte-art-2210x1657.jpg" class="img-fluid rounded" alt="Responsive image"></a>
        <a href="#" style="text-decoration:none;">聯絡我們</a>
    </div>
</div>
