@{
    ViewData["Title"] = "Register Page";
}
<h1>@ViewData["Title"]</h1>

<form action="/Home/Register" method="post">
    <label>Username</label>
    <input type="text" name="Username" value="" />
    <br>
    <label>password</label>
    <input type="text" name="password" value="" />
    <br>
    <label>Email</label>
    <input type="email" name="Email" value="" />
    <br>
    <label>PhoneNumber</label>
    <input type="text" name="PhoneNumber" />
    <br>
    <label>College</label>
    <input type="text" name="College" />
    <br>
    <label>Department</label>
    <input type="text" name="Department" />
    <br>
    <label>Degree</label>
    <input type="text" name="Degree" />
    <br>
    <button type="submit">Register</button>
</form>