<!DOCTYPE html>
<html lang="zh-Hant-TW" class="has-navbar-fixed-top">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@ViewData["Title"] - Admin</title>
    <link rel="stylesheet" href="~/lib/bulma/css/bulma.min.css" />
    <link rel="stylesheet" href="~/lib/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <environment names="Development"></environment>
    <environment names="Staging,Production"></environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" asp-controller="Home" asp-action="Index">Admin</a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" id="navbarBasicExample">
                <div class="navbar-start">
                    <a class="navbar-item" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="navbar-item" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
                <div class="navbar-end">
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
    </header>

    <main class="section" role="main">
        <partial name="_StatusMessage" />
        @RenderBody()
    </main>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>&copy; 2020 - Komunumo.Admin - <a asp-controller="Home" asp-action="Privacy">Privacy</a></p>
        </div>
    </footer>
    
    <environment names="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
                asp-fallback-src="~/lib/font-awesome/js/all.min.js"
                asp-fallback-test="window.FontAwesome"
                integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs="
                crossorigin="anonymous">
        </script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="~/lib/font-awesome/js/all.min.js"></script>
    </environment>
    <script type="text/javascript" src="~/lib/bulma-modal-fx/dist/js/modal-fx.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
