@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a asp-controller="Manage" asp-action="Index" class="navbar-item">管理</a>
    <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">@UserManager.GetUserName(User)</a>

        <div class="navbar-dropdown is-right">
            <a class="navbar-item" asp-controller="Account" asp-action="Index">個人中心</a>
            <hr class="navbar-divider">
            <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                <a class="navbar-item" onclick="document.getElementById('logoutForm').submit()">登出</a>
            </form>
        </div>
    </div>
}
else
{
    <div class="navbar-item">
        <div class="buttons">
            <a asp-controller="Account" asp-action="Register" class="button is-light">註冊</a>
            <a asp-controller="Account" asp-action="Login" class="button is-primary">登入</a>
        </div>
    </div>
}
