@model ChangePasswordViewModel

@{
    ViewData["Title"] = "修改密碼";
}

<div class="container">
    <p class="title">@ViewData["Title"]</p>
    <div class="level">
        <div class="column box">
            <form asp-controller="Account" asp-action="ChangePassword" method="post">
                <div class="field">
                    <label class="label" asp-for="OldPassword"></label>
                    <div class="control">
                        <input asp-for="OldPassword" class="input" />
                    </div>
                    <span asp-validation-for="OldPassword" class="help is-danger"></span>
                </div>
                <div class="field">
                    <label class="label" asp-for="NewPassword"></label>
                    <div class="control">
                        <input asp-for="NewPassword" class="input" />
                    </div>
                    <span asp-validation-for="NewPassword" class="help is-danger"></span>
                </div>
                <div class="field">
                    <label class="label" asp-for="ConfirmPassword"></label>
                    <div class="control">
                        <input asp-for="ConfirmPassword" class="input" />
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="help is-danger"></span>
                </div>
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary">更改您的密碼</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}