@{
    ViewData["Title"] = "個人中心";
}

<div class="container">
    <h1 class="title">@ViewData["Title"]</h1>
    <hr>
    <div class="columns is-multiline">
        <div class="column is-one-third">
            <a asp-controller="Account" asp-action="Profile" class="box has-text-centered has-background-grey-lighter">
                <i class="fas fa-user-circle fa-3x"></i>
                <p class="subtitle">個人資料</p>
            </a>
        </div>
        <div class="column is-one-third">
            <a asp-controller="Account" asp-action="ChangePassword" class="box has-text-centered has-background-grey-lighter">
                <i class="fas fa-lock fa-3x"></i>
                <p class="subtitle">修改密碼</p>
            </a>
        </div>
        <div class="column is-one-third">
            <a class="box has-text-centered has-background-grey-lighter">
                <i class="fas fa-home fa-3x"></i>
                <p class="subtitle">還沒寫</p>
            </a>
        </div>
    </div>
</div>
