@model LoginViewModel

@{
    ViewData["Title"] = "登入";
}

<div class="container">
    <p class="title">@ViewData["Title"]</p>
    <div class="level">
        <div class="column box">
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" asp-controller="Account" asp-action="Login" method="post">
                <p class="subtitle">使用您的帳戶</p>
                <hr />
                <div class="field">
                    <label class="label" asp-for="UserName"></label>
                    <div class="control">
                        <input asp-for="UserName" class="input" />
                    </div>
                    <span asp-validation-for="UserName" class="help is-danger"></span>
                </div>
                <div class="field">
                    <label class="label" asp-for="Password"></label>
                    <div class="control">
                        <input asp-for="Password" class="input" />
                    </div>
                    <span asp-validation-for="Password" class="help is-danger"></span>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="checkbox" asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary">登入</button>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <p>沒有帳戶嗎? <a asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">立即建立新帳戶</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}