@model RegisterViewModel

@{
    ViewData["Title"] = "註冊";
}

<div class="container">
    <p class="title">@ViewData["Title"]</p>
    <div class="level">
        <div class="column box">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" asp-controller="Account" asp-action="Register" method="post">
                <div class="field">
                    <label class="label" asp-for="Email"></label>
                    <div class="control">
                        <input asp-for="Email" class="input" />
                    </div>
                    <span asp-validation-for="Email" class="help is-danger"></span>
                </div>
                <div class="field">
                    <label class="label" asp-for="UserName"></label>
                    <div class="control">
                        <input asp-for="UserName" class="input" />
                    </div>
                    <span asp-validation-for="UserName" class="help is-danger"></span>
                </div>
                <div class="field">
                    <label class="label" asp-for="Password"></label>
                    <div class="control">
                        <input asp-for="Password" class="input" />
                    </div>
                    <span asp-validation-for="Password" class="help is-danger"></span>
                </div>
                <div class="field">
                    <label class="label" asp-for="ConfirmPassword"></label>
                    <div class="control">
                        <input asp-for="ConfirmPassword" class="input" />
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="help is-danger"></span>
                </div>
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary">註冊</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}