@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Index">首頁</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">隱私權政策</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" asp-area="" asp-controller="BlogPage" asp-action="Index">文章列表</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" asp-area="" asp-controller="BlogPage" asp-action="Create">新增文章</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @UserManager.GetUserName(User)
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">管理</a>
                <div class="dropdown-divider"></div>
                <form asp-area="" asp-controller="Home" asp-action="Logout" method="post" id="logoutForm">
                    <button type="submit" class="dropdown-item btn btn-secondary">登出</button>
                </form>
            </div>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Index">首頁</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">隱私權政策</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a asp-area="" asp-controller="Home" asp-action="Register" class="btn btn-success mr-sm-2">註冊</a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Home" asp-action="Login" class="btn btn-primary my-2 my-sm-0">登入</a>
        </li>
    </ul>

}