@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="title">Welcome</h1>
    <h2 class="subtitle">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</h2>
</div>
