<ul class="nav flex-column nav-pills">
    <li class="nav-item">
        <a asp-controller="Manage" asp-action="Index" class="nav-link @ManageNavPages.IndexNavClass(ViewContext)">個人資訊</a>
    </li>
</ul>